main {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #776e65;
}

.header {
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 64px;
    align-self: center;
}

.score-container {
    width: max-content;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #bbada0;
    padding: 4px 28px;
    border-radius: 6px;
    font-weight: bold;
}

.score-title {
    font-size: 22px;
    font-variant: small-caps;
    color: #eee4da;
}

#score {
    font-size: 34px;
    color: white;
}

#results {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    color: crimson;
    margin-bottom: 30px;
    margin-top: -20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container .reset-button {
    background-color: crimson;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 22px;
    font-variant: small-caps;
    font-weight: bold;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: #bbada0;
    border: 7px solid #bbada0;
    border-radius: 6px;
    align-self: center;
}

.grid div {
    width: 100px;
    height: 100px;
    background-color: #f8f5f0;
    font-size: 58px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid #bbada0;
    border-radius: 12px;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue",Helvetica,Arial;
    margin: 50px 0;
}

footer a {
    color: blue;
    text-decoration: none;
}